@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  margin: 0;
  font-style: "Poppins";
  background: linear-gradient(to right, #cb46fb,#0ef6d7);
  box-sizing: border-box;
  justify-content: center;
}
.calculator{
  display: grid;
  margin-top: 1rem;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(6,6rem);
}
.calculator h1{
  text-align: center;
  grid-column: span 3;
}

.output{
  background-color: rgb(22, 20, 20,0.9); 
  display: flex;
  grid-column: 1/-1;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.previous-value{
  font-size: 1.3rem;
  color: rgb(240, 248, 255,0.75);
}
.current-value{
  font-size: 2rem;
  color: aliceblue;
}
.span-two{
  grid-column: span 2;
}
.calculator button{
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  background-color: rgb(240, 247, 253,.9);

}
.calculator button:hover{
  background-color: rgba(210, 232, 255, 0.75);
}
